<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Tickets Database</title>
  </head>
  <span> Hi {{ g.user['username'] }}, </span>
  <span> choose your tickets below! </span>
  <body>
    
    <h1>Purchase Tickets</h1>
    
    <table class = "table table-hover table-light">
        <thead>
            <tr>
                <th scope = "col">TicketID</th>
                <th scope = "col">Transport Company</th>
                <th scope = "col">Transport Type</th>
                <th scope = "col">Start Time</th>
                <th scope = "col">Arrival Time</th>
                <th scope = "col">Price</th>
                <th scope = "col">Pick Up Location</th>
                <th scope = "col">Destination</th>
                <th scope = "col">Available Tickets</th>
                <th scope = "col">Purchased Tickets</th>
                <th scope = "col">Buy Now</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ticket.TicketID}}</td>
                <td>{{ticket.TransportCompany}}</td>
                <td>{{ticket.TransportType}}</td>
                <td>{{ticket.StartTime}}</td>
                <td>{{ticket.ArrivalTime}}</td>
                <td>${{ticket.Price}}</td>
                <td>{{ticket.PickUpLocation}}</td>
                <td>{{ticket.Destination}}</td>
                <td>{{ticket.NumberOfAvailableTickets}}</td>
                <td>{{ticket.NumberOfPurchasedTickets}}</td>
                <td>
                    <button class="btn btn-outline btn-success">Select</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>